* {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  width: 250px;
  height: 65px;
}

.navbar {
  background-color: #fff;
  border-bottom: 0.5px solid #11161e;
}

.nav-link {
  color: #11161e;
  background-image: linear-gradient(#f7d849, #f7d849);
  background-size: 0 3px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-out;
  font-size: 20px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #11161e;
  background-size: 100% 3px, auto;
}

header,
nav,
a,
img,
.li {
  transition: 0.6s all;
  -moz-transition: 0.6s all;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
}

.space-between {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* home section */
#home-section {
  background: url(./img/main_wallpaper.png) no-repeat center center/cover;
  min-height: 900px;
  background-attachment: fixed;
}

.moving-form {
  background-color: #f7f8f8;
  width: 100%;
  margin-top: 20%;
  padding: 30px;
  border-radius: 10px;
}

.form-header {
  text-align: center;
}

.form-input {
  padding-bottom: 10px;
  padding-left: 20px;
  /* width: 100% !important; */
}

.formBtn:hover {
  background-color: #f7d849 !important;
  color: #11161e;
}

.fromLocation {
  width: 95% !important;
}

.toLocation {
  width: 95% !important;
}

.formName {
  width: 95% !important;
}

.formEmail {
  width: 95% !important;
}

.formPhone {
  width: 95% !important;
}

.form-btn {
  padding-left: 20px;
}

.formBtn {
  width: 95% !important;
}

/* about us */
#about-section {
  margin-top: 50px;
}

.about-content {
  text-align: center;
}

/* driver app section */
#main-section {
  margin-top: 50px;
}

.driver-app-img img {
  width: 85%;
}

.driver-app-content {
  text-align: center;
}

.driver-app-btn:hover {
  background-color: #f7d849 !important;
  color: #11161e;
}

.ownerOp-app {
  margin-top: 50px;
}

.ownerOp-app-img img {
  width: 115%;
}

.ownerOp-app-content {
  text-align: center;
}

.ownerOp-app-btn:hover {
  background-color: #f7d849 !important;
  color: #11161e;
}
/* contact form */
#contact {
  margin-top: 100px;
}
.about-header {
  text-align: center;
  margin-bottom: 25px;
}
.p-header {
  font-weight: 700;
  margin-bottom: 2px;
}
/* footer */
footer {
  margin-top: 50px;
}
.p-footer {
  color: lightgrey;
  font-size: 10px;
}
