# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
docker-compose-build.yml
Dockerfile
.dockerignore
.gitignore
.github
.idea
.git
aws-ecs-task-definition.json
README.md

# Artifacts that will be built during image creation.
# This should contain all files created during `npm run build`.
build
node_modules