/* page1 */

.agreemContent {
    text-align: center;
    margin-top: 50px;
    margin-left: 0px !important;
}

.dateOfAgr {
    border: none !important;
    border-bottom: solid 1px grey !important;
    margin: 0 10px;
}

.mainContent {
    margin-bottom: 0px !important;
}

.lessorAddress {
    width: 39%;
}

.lessorCity {
    width: 19%;
    padding-right: 1% !important;
}

.lessorState {
    width: 8%;
    padding-right: 1% !important;
}

.lessorZip {
    width: 12%;
}

.truckVin {
    width: 39%;
}

.trailerVin {
    width: 39%;
}

.lessorMainSignature {
    width: 39%;
}


.MainBtnDiv {
    text-align: center;
}

.mainBtn {
    width: 20%;
    position: relative !important;

    margin: 50px 0 !important;
}